body {
    background: #232323;
}

h1 {
    color: white;
    text-align: center;
}

.square {
    width: 30%;
    background: red;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

/*#message {
    color: green;
}
*/
span {
    color:white;
}